.love-light-regular {
    font-family: "Love Light", cursive;
    font-weight: 400;
    font-style: normal;
}

.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 50px !important;
}

.protest-riot-regular {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/valen2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.title {
    text-align: center;
    margin-top: 7%;
}

.heading {
    font-size: 75px
}

.container {
    margin: 7% auto 0;
    width: 50%;
    height: 40%;
    text-align: center;
}

.yesClass {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    margin: 3%;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    text-decoration: none;
}

.yesClass:hover,
.yesClass:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.yesClass:active {
    opacity: .5;
}

.noClass {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: 6px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    margin: 3%;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    text-decoration: none;
}

.noClass:hover {
    background-color: #374151;
}

.noClass:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .noClass {
        padding: .75rem 1.5rem;
    }
}


/* Success Page */

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

.heart-image {
    height: 70%;
}

.container-success {
    margin-top: 12%;
}

.fadeIn-animation {
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.scale-animation {
    animation: scaleAnimation 2s ease-in-out forwards;
    transform-origin: center;
}

@keyframes scaleAnimation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}